*{
    padding: 0;
    margin: 0;
}

body{
    background: rebeccapurple;
    color: white;
}

.container{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
.block{
    border: 2px solid white;
    padding: 15px;
}
.img {
    width: 300px;
    object-fit: contain;
    height: 200px;
}